!!!
html
  head
    title= title
    link(rel='stylesheet', href="#{baseUrl}/stylesheets/harness.css")
    link(rel='stylesheet', href="#{baseUrl}/stylesheets/dev.css")

    script(type='text/javascript', src='/core/libs.js')
    script(type='text/javascript', src='/core/core.js')
    script(type='text/javascript', src='#{baseUrl}/javascripts/harness.js')

  body
    img(src="#{baseUrl}/images/dev/dev_logo.png")  
    :markdown
      [Test Harness](#{baseUrl}/) | [GitHub](https://github.com/philcockfield/testharness) | [Hosted](http://testharness.herokuapp.com)
      
      ### Scripts
      - [core/libs.js](/core/libs.js) | [min](/core/libs-min.js)
      - [core/core.js](/core/core.js) | [min](/core/core-min.js)
      - [harness.js](#{baseUrl}/javascripts/harness.js) | [min](#{baseUrl}/javascripts/harness-min.js)
      
      ### Specs
      - [TestHarness specs](#{baseUrl}/specs)
      - [Open.Core specs](#{baseUrl}/core/specs)
      - On Server: `$ cake specs`

      ### Links
      - [Test Harness](#{baseUrl}/)
      - [harness.json (Definition)](#{baseUrl}/harness.json)
      - [TEMP textbox](#{baseUrl}/temp/textbox)
      - [TEMP spinner](#{baseUrl}/temp/spinner)
      
    
